In [1]:
import pandas as pd
import numpy as np

In [2]:
col1 = [1,2,3,3,-1,0]
col2 = [1,"X",3,1,0,0]
df = pd.DataFrame()
df["col1"] = col1
df["col2"] = col2
df

   col1 col2
0     1    1
1     2    X
2     3    3
3     3    1
4    -1    0
5     0    0

In [3]:
missing_val_dict = {"col1": [-1], "col2":['X',0]}
for key,val in missing_val_dict.items():
  df = df.replace(to_replace={key:val}, value=np.nan)

In [4]:
df

   col1  col2
0   1.0   1.0
1   2.0   NaN
2   3.0   3.0
3   3.0   1.0
4   NaN   NaN
5   0.0   NaN

## [Convert a string key to int in a Dictionary](https://stackoverflow.com/a/21193744)

In [5]:
d = {'1':'145' , '2':'254' , '3':'43'}
d = {int(k):int(v) for k,v in d.items()}
d

{1: 145, 2: 254, 3: 43}

In [6]:
d = {'1':'145' , '2':'254' , '3':'43'}
d = {str(k):int(v) for k,v in d.items()}
d

{'1': 145, '2': 254, '3': 43}

In [7]:
d = { '1':['1', '2', '3', '4'] , '2':['1', '4'] , '3':['3','176'] }
d

{'1': ['1', '2', '3', '4'], '2': ['1', '4'], '3': ['3', '176']}

In [8]:
d = {'1':['1', '2', '3', '4'] , '2':['1', '4'] , '3':['3','176']}
d = {str(k):[int(i) for i in v] for k,v in d.items()}
d

{'1': [1, 2, 3, 4], '2': [1, 4], '3': [3, 176]}

In [9]:
a = '[-1,0,9]'
eval(a)

[-1, 0, 9]

In [10]:
import ast

In [11]:
ast.literal_eval(a)

[-1, 0, 9]

In [12]:
d = {'1':'[4,5,9]' , '2':'[4,9]', '3':'[45,9]'}
d

{'1': '[4,5,9]', '2': '[4,9]', '3': '[45,9]'}

In [13]:
try:
  i = int(1)
  print(i)
except ValueError:
  print('Please enter an integer...')

1

In [14]:
try:
  i = int('strang')
  print(i)
except ValueError:
  print('strang')

strang

In [15]:
print(str.isdigit('X'))
print(str.isdigit('123'))

False
True

In [22]:
test = lambda x : True if (str.isdigit(x) == True) else False
 
# Check if given numbers are in range using lambda function
print(test('12'))
print(test('3'))
print(test('24'))

True
True
True

In [29]:
test = lambda x : int(x) if (str.isdigit(x) == True) else str(x)

In [30]:
print(test('12'))
print(test('ABC'))

12
ABC

In [31]:
d = {'1':'145' , '2':'254' , '3':'X'}
d = {str(k):test(v) for k,v in d.items()}
d

{'1': 145, '2': 254, '3': 'X'}

In [32]:
list1 = ['X','pls','123']
list(map(test,list1))

['X', 'pls', 123]

In [33]:
print(list(map(test,list1)))

['X', 'pls', 123]

In [21]:
list

list

In [46]:
test = lambda x : int(x) if (str.isdigit(x.lstrip('-')) == True) else str(x)
d = {'1':['1', '2', '3', '4'] , '2':['1', '-1'] , '3':['3','ABC']}
d = {str(k):[test(i) for i in v] for k,v in d.items()}
d

{'1': [1, 2, 3, 4], '2': [1, -1], '3': [3, 'ABC']}

In [36]:
int('-1')

-1

In [37]:
str.isdigit('-1')

False

In [44]:
y = '-1'
str.isdigit(y.lstrip('-'))

True